@import url("../style.css");

/* Sidebar Navigation */
#sidebar { 
    width: 250px; 
    background: var(--dark); 
    color: white; 
    padding: 20px; 
    transition: 0.3s; 
}
#sidebar h2 { 
    font-size: 1.2rem; 
    margin-bottom: 30px; 
    text-align: center; 
    color: var(--accent); 
}
#sidebar ul { 
    list-style: none; 
}
#sidebar li { 
    padding: 12px; 
    cursor: pointer; 
    border-bottom: 1px solid #3e4f5f; 
    font-size: 0.9rem; 
}
#sidebar li:hover { 
    background: var(--accent); 
}
#sidebar li :last-child{
    margin-top: 20px; 
    color: #ff7675;

}
